$component-name: "c-card";

.#{$component-name} {
    border-radius: 6px;
    color: $webfatorial-white;
    display: flex;
    flex-direction: column;
    flex: .6;
    height: 100%;
    width: 100%;
    padding: $global-module-size 36px;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;

    &--instagram {
        background-color: $instagram-color;

        .c-button {
            background-color: #4f5bd5;

            &:hover {
                background-color: lighten(#4f5bd5, 5%);
            }
        }
    }

    &--twitter {
        background-color: $twitter-color;

        .c-button {
            background-color: $webfatorial-white;
            color: $text-color;

            &:hover {
                background-color: darken($webfatorial-white, 10%);
            }
        }
    }

    &--linkedin {
        background-color: $linkedin-color;

        .c-button {
            background-color: $webfatorial-white;
            color: $text-color;

            &:hover {
                background-color: darken($webfatorial-white, 15%);
            }
        }
    }

    &__title {
        font-weight: normal;
        line-height: 1;
        margin: 0;

        &-emphasis {
            display: inline-block;
            flex: 1;
            font-size: 210%;
            font-weight: bold;
            width: 100%;
        }
    }

    &__text {
        line-height: 1.6;
        margin: $global-module-size 0;
    }
}